<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404! მოხდა შეცდომა</title>
    <link rel="stylesheet" href="/AvatarZone/static/Styles/404.css">
    <link rel="stylesheet" href="//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli/css/bpg-nino-mtavruli.min.css">
</head>

<body >



    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, 
				initial-scale=1.0">
        <title>
            404 გვერდი არ არის ნაპოვნი
        </title>
        <link rel="icon" href="/static/download-_1_1.jpg" type="icon">

        <link rel="stylesheet" href="/static/Styles/404.css">
    </head>

    <body>
        <div class="error-container">
            <h2 >მოხდა შეცდომა</h2>
            <h1> 404 </h1>

            <p>
                არასწორ გვერდზე მოხვდით :(

            </p>
            <a href="/">
                დაბრუნდით მთავარ გვერდზე
            </a>
        </div>
    </body>

</html>