<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AvatarZone</title>
    <link rel="stylesheet" href="/static/Styles/style.css">
    <link rel="icon" href="/static/IMG/download-_1_(1).png">
</head>

<body>
    <header id="header">
        <nav>
            <div class="avatarfinder">
                <h1>'AVATAR FINDER'</h1>
                <img src="/static/IMG/5.png" alt="">
            </div>
            <div class="nav-container-mobile">
                <div class="logo">
                    <label for="logo"><img src="/static/IMG/icon.png" alt="Logo"></label>
                </div>
                <div class="burger-menu">
                    <div class="line1"></div>
                    <div class="line2"></div>
                    <div class="line3"></div>
                </div>

                <ul>
                    <li class="tooltip-container">
                        <a href="/">მთავარი</a>
                        <div class="tooltip-text">მთავარი გვერდი</div>
                    </li>
                    <li class="tooltip-container">
                        <a href="/about_project">პროექტის შესახებ</a>
                        <div class="tooltip-text-1">ინფორმაცია პროექტზე</div>
                    </li>
                    <li class="tooltip-container">
                        <a href="/services">სერვისი</a>
                        <div class="tooltip-text-2">ჩვენი სერვისი</div>
                    </li>


                    {% if current_user.is_authenticated %}
                    <li class="tooltip-container">
                        <form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
                            <a href="/logout" type="submit">გამოსვლა</a>
                        </form>
                    </li>
                    {% else %}
                    <li class="tooltip-container">
                        <a href="/register">რეგისტრაცია</a>
                        <div class="tooltip-text-3">დარეგისტრირდი</div>
                    </li>
                    <li class="tooltip-container">
                        <a href="/login">შესვლა</a>
                        <div class="tooltip-text-3">ავტორიზაცია</div>
                    </li>
                    {% endif %}
                </ul>


            </div>

            <div class="nav-container">
                <div class="logo">
                    <label for="logo"><img src="/static/IMG/icon.png" alt="Logo"></label>
                </div>

                <ul>
                    <li class="tooltip-container">
                        <a href="/">მთავარი</a>
                        <div class="tooltip-text">მთავარი გვერდი</div>
                    </li>
                    <li class="tooltip-container">
                        <a href="/about_project">პროექტის შესახებ</a>
                        <div class="tooltip-text-1">ინფორმაცია პროექტზე</div>
                    </li>
                    <li class="tooltip-container">
                        <a href="/services">სერვისი</a>
                        <div class="tooltip-text-2">ჩვენი სერვისი</div>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="tooltip-container">
                        <form action="{{ url_for('logout') }}" method="POST" style="display: inline;">
                            <a href="/logout" type="submit">გამოსვლა</a>
                            <div class="tooltip-text-2">ექაუნთის დატოვება</div>
                        </form>
                        <p style="font-size: xx-large; text-transform: uppercase;">{{ current_user.username }}</p>
                    </li>
                    {% else %}
                    <li class="tooltip-container">
                        <a href="/register">რეგისტრაცია</a>
                        <div class="tooltip-text-3">დარეგისტრირდი</div>
                    </li>
                    <li class="tooltip-container">
                        <a href="/login">შესვლა</a>
                        <div class="tooltip-text-3">ავტორიზაცია</div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>


    <script src="/static/JS/gettingUsername.js"></script>
    <script src="/static/JS/logoOut.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var tooltipContainers = document.querySelectorAll('.tooltip-container');

            tooltipContainers.forEach(function (container) {
                var tooltipText = container.querySelector('.tooltip-text');

                container.addEventListener('mouseover', function () {
                    tooltipText.style.visibility = 'visible';
                    tooltipText.style.opacity = '1';
                });

                container.addEventListener('mouseout', function () {
                    tooltipText.style.visibility = 'hidden';
                    tooltipText.style.opacity = '0';
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var tooltipContainers = document.querySelectorAll('.tooltip-container');

            tooltipContainers.forEach(function (container) {
                var tooltipText = container.querySelector('.tooltip-text-1');

                container.addEventListener('mouseover', function () {
                    tooltipText.style.visibility = 'visible';
                    tooltipText.style.opacity = '1';
                });

                container.addEventListener('mouseout', function () {
                    tooltipText.style.visibility = 'hidden';
                    tooltipText.style.opacity = '0';
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var tooltipContainers = document.querySelectorAll('.tooltip-container');

            tooltipContainers.forEach(function (container) {
                var tooltipText = container.querySelector('.tooltip-text-2');

                container.addEventListener('mouseover', function () {
                    tooltipText.style.visibility = 'visible';
                    tooltipText.style.opacity = '1';
                });

                container.addEventListener('mouseout', function () {
                    tooltipText.style.visibility = 'hidden';
                    tooltipText.style.opacity = '0';
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            var tooltipContainers = document.querySelectorAll('.tooltip-container');

            tooltipContainers.forEach(function (container) {
                var tooltipText = container.querySelector('.tooltip-text-3');

                container.addEventListener('mouseover', function () {
                    tooltipText.style.visibility = 'visible';
                    tooltipText.style.opacity = '1';
                });

                container.addEventListener('mouseout', function () {
                    tooltipText.style.visibility = 'hidden';
                    tooltipText.style.opacity = '0';
                });
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
            const burgerMenu = document.querySelector('.burger-menu');
            const navUl = document.querySelector('nav ul');
            const navContainerMobile = document.querySelector('.nav-container-mobile');
            const logo = document.querySelector('.logo');

            burgerMenu.addEventListener('click', function (e) {
                e.stopPropagation();
                toggleMenu();
            });

            logo.addEventListener('click', function (e) {
                if (logo.classList.contains('blurred') && !logo.contains(e.target)) {
                    toggleMenu();
                }
            })

            document.addEventListener('click', function (e) {
                if (navUl.classList.contains('show') && !navUl.contains(e.target)) {
                    toggleMenu();
                }
            });

            function toggleMenu() {
                navUl.classList.toggle('show');
                burgerMenu.classList.toggle('active');
                logo.classList.toggle('blurred');
            }
        });
    </script>
    
</body>

</html>