<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ავტორიზაცია</title>
    <link rel="icon" href="/static/IMG/download-_1_(1).png">
    <link rel="stylesheet" href="/static/Styles/register.css">
</head>

<body>
    <header>
        <nav>
            <!-- Navigation menu (same as other pages) -->
            <div class="burger-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>awd
            <ul>
                <li><a href="/">მთავარი</a></li>
                <li><a href="/about_project">პროექტის შესახებ</a></li>
                <li><a href="/services">სერვისები</a></li>
                <li><a href="/register">რეგისტრაცია</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="login-form">
            <h1>Login</h1>
            <form id="loginForm" method="POST">
                {{ form.hidden_tag() }}
                <!-- Include CSRF token -->

                <label for="username">სახელი:</label>
                {{ form.username(class="form-control", id="username") }}

                <label for="password">პაროლი:</label>
                {{ form.password(class="form-control", id="password") }}

                <button type="submit" id="submit">{{ form.submit.label.text }}</button>
                <p id="error-message" style="color: red;"></p>
            </form>
        </div>
    </main>

    <script src="/ui/JS/login.js"></script>


    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const burgerMenu = document.querySelector('.burger-menu');
            const navUl = document.querySelector('nav ul');
            const navContainerMobile = document.querySelector('.nav-container-mobile');


            burgerMenu.addEventListener('click', function (e) {
                e.stopPropagation();
                toggleMenu();
            });



            document.addEventListener('click', function (e) {
                if (navUl.classList.contains('show') && !navUl.contains(e.target)) {
                    toggleMenu();
                }
            });

            function toggleMenu() {
                navUl.classList.toggle('show');
                burgerMenu.classList.toggle('active');
                navContainerMobile.classList.toggle('blurred');
            }
        });
    </script>
</body>

</html>