/* General Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BPG Nino Mtavruli", sans-serif;
    text-decoration: none;
}

body {
    background: url('/static/IMG/145856081_e755a4f7-5a35-4ee2-b2fd-03bf4ccf48e0.jpg') center/cover fixed no-repeat;
    position: relative;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(53, 53, 53, 0.103);
    z-index: -1;
    animation: fadeIn 2s ease-in-out;
}

/* Header Navigation */
header {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 0;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80vw;
    height: 100px;
    margin: 0 auto;
    z-index: 10000;
}

header nav img {
    width: 540px;
    height: 193px;
    margin-right: -35px;
    margin-top: 20px;
    animation: bounceIn 1s ease;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    position: relative;
    display: inline-block;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 22px;
    transition: color 0.3s ease, transform 0.3s ease;
    overflow: hidden;
}

nav ul li a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.4s ease, background-color 0.4s ease;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.4s ease;
    z-index: -1;
}

nav ul li a:hover::before,
nav ul li a:focus::before {
    transform: scaleX(1);
    transform-origin: bottom left;
    background-color: rgb(99, 99, 99);
}

nav ul li a:hover,
nav ul li a:focus {
    color: rgb(131, 130, 131);
    color: wheat;
    transform: translateY(-5px) scale(1.05);
}

nav ul li a:hover::after,
nav ul li a:focus::after {
    transform: scaleX(1);
    transform-origin: bottom right;
    background-color: rgba(112, 112, 112, 0.481);
}

nav ul li a:hover {
    box-shadow: 0 0 15px rgba(102, 100, 102, 0.7);
}

/* Content Styles */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.avatarfinder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    animation: fadeInUp 1.5s ease-out;
}

.avatarfinder h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 60px;
    animation: slideIn 1s ease-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatarfinder h1:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}

.avatarfinder p {
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    line-height: 1.6;
    max-width: 800px;
}

.avatarfinder img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    animation: zoomIn 1.5s ease-out;
    transition: transform 0.3s ease;
}

.avatarfinder img:hover {
    transform: scale(1.1);
}

/* Animation Keyframes */
@keyframes slideIn {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes bounceIn {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Tooltip Styles */
.tooltip-container {
    position: relative;
    cursor: pointer;
    animation: fadeIn 1s ease-out;
}

.tooltip-text,
.tooltip-text-1,
.tooltip-text-2,
.tooltip-text-3 {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    font-size: 18px;
}

.tooltip-text::after,
.tooltip-text-1::after,
.tooltip-text-2::after,
.tooltip-text-3::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text,
.tooltip-container-1:hover .tooltip-text-1,
.tooltip-container-2:hover .tooltip-text-2,
.tooltip-container-3:hover .tooltip-text-3 {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(-10px);
}


/* For WebKit browsers */
::-webkit-scrollbar {
    width: 12px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #333;
    /* Background color of the scrollbar track */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Background color of the scrollbar thumb */
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Background color of the scrollbar thumb on hover */
}

/* For Firefox */
html {
    scrollbar-width: thin;
    /* Thickness of the scrollbar */
    scrollbar-color: #888 #333;
    /* Color of the scrollbar thumb and track */
}

/* For Edge */
@supports (-ms-overflow-style: none) {

    /* The scrollbar is always visible on Edge, no extra styling needed */
    ::-ms-scrollbar {
        width: 12px;
        /* Width of the scrollbar */
    }

    ::-ms-scrollbar-track {
        background: #333;
        /* Background color of the scrollbar track */
    }

    ::-ms-scrollbar-thumb {
        background: #888;
        /* Background color of the scrollbar thumb */
    }

    ::-ms-scrollbar-thumb:hover {
        background: #555;
        /* Background color of the scrollbar thumb on hover */
    }
}


/* Reponsive For All Resolution*/
.nav {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}

.burger-menu {
    display: none;
    cursor: pointer;
    z-index: 1002;
}

.burger-menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
}

.icon {
    width: 60px;
    height: auto;
}

@media screen and (max-width: 768px) and (max-width: 1023px) {
    .nav {
        display: none;
        margin-top: 50px;
    }




    nav ul li a::before,
    nav ul li a::after,
    nav ul li a,
    .avatarfinder img,
    header nav img,
    .avatarfinder h1,
    .avatarfinder img,
    body::before,
    .tooltip-container {
        transition: none;
        animation: none;
    }

    nav ul li a:hover::before,
    nav ul li a:focus::before,
    nav ul li a:hover::after,
    nav ul li a:focus::after,
    nav ul li a:hover,
    nav ul li a:focus,
    .avatarfinder img:hover {
        transform: none;
        background-color: transparent;
        color: white;
        box-shadow: none;
    }


    .tooltip-text,
    .tooltip-text-1,
    .tooltip-text-2,
    .tooltip-text-3 {
        visibility: hidden;
        opacity: 0;
        display: none;

    }






    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: #020202b0;
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        z-index: 1000;
        padding-bottom: 100%;
        margin-top: 20px;

    }

    body footer {
        display: flex;
    }

    .nav {
        display: flex;
    }

    .burger-menu {
        display: block;
    }

    .avatarfinder h1 {
        font-size: 1.3rem;
    }

    .avatarfinder p {
        background-color: #0e0909ac;
        border-radius: 10px;
        padding: 15px;
    }


    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        position: fixed;
        top: 80px;
        left: 0;
        right: 0;
        z-index: 1000;
        padding-bottom: 100%;
        margin-top: 40px;

    }

    nav ul.show {
        display: block;
        overflow-y:hidden;
    }

    nav ul li {
        margin: 10px 0;
    }

    body footer {
        display: flex;
    }


}

@media screen and (max-width: 425px) {
    .icon {
        width: 50px;
        /* ზომის შემცირება Mobile L-ისთვის */
    }




    nav ul li a::before,
    nav ul li a::after,
    nav ul li a,
    .avatarfinder img,
    header nav img,
    .avatarfinder h1,
    .avatarfinder img,
    body::before,
    .tooltip-container {
        transition: none;
        animation: none;
    }

    nav ul li a:hover::before,
    nav ul li a:focus::before,
    nav ul li a:hover::after,
    nav ul li a:focus::after,
    nav ul li a:hover,
    nav ul li a:focus,
    .avatarfinder img:hover {
        transform: none;
        background-color: transparent;
        color: white;
        
        box-shadow: none;
    }


    .tooltip-text,
    .tooltip-text-1,
    .tooltip-text-2,
    .tooltip-text-3 {
        visibility: hidden;
        opacity: 0;
        display: none;

    }




    body footer {
        display: flex;
        font-size: 12px;
    }






    .nav {
        padding: 10px;
    }

    .burger-menu {
        margin-left: auto;
        /* ბურგერ მენიუს გადაწევა მარჯვენა მხარეს */
    }


}

@media screen and (max-width: 375px) {
    .icon {
        width: 45px;
    }

    body footer {
        display: flex;
    }








    nav ul li a::before,
    nav ul li a::after,
    nav ul li a,
    .avatarfinder img,
    header nav img,
    .avatarfinder h1,
    .avatarfinder img,
    body::before,
    .tooltip-container {
        transition: none;
        animation: none;
    }

    nav ul li a:hover::before,
    nav ul li a:focus::before,
    nav ul li a:hover::after,
    nav ul li a:focus::after,
    nav ul li a:hover,
    nav ul li a:focus,
    .avatarfinder img:hover {
        transform: none;
        background-color: transparent;
        color: white;
        box-shadow: none;
    }


    .tooltip-text,
    .tooltip-text-1,
    .tooltip-text-2,
    .tooltip-text-3 {
        visibility: hidden;
        opacity: 0;
        display: none;

    }


}

@media screen and (max-width: 320px) {
    .icon {
        width: 40px;
    }

    body footer {
        display: flex;

    }

    .nav {
        padding: 8px;
    }


    nav ul li a::before,
    nav ul li a::after,
    nav ul li a,
    .avatarfinder img,
    header nav img,
    .avatarfinder h1,
    .avatarfinder img,
    body::before,
    .tooltip-container {
        transition: none;
        animation: none;
    }

    nav ul li a:hover::before,
    nav ul li a:focus::before,
    nav ul li a:hover::after,
    nav ul li a:focus::after,
    nav ul li a:hover,
    nav ul li a:focus,
    .avatarfinder img:hover {
        transform: none;
        background-color: transparent;
        color: white;
       
        box-shadow: none;
    }


    .tooltip-text,
    .tooltip-text-1,
    .tooltip-text-2,
    .tooltip-text-3 {
        visibility: hidden;
        opacity: 0;
        display: none;

    }


    .avatarfinder h1 {
        font-size: 1.2rem;
    
    }



}

/* ბურგერ მენიუს ანიმაცია */
.burger-menu.active .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.burger-menu.active .line2 {
    opacity: 0;
}

.burger-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}