@font-face {
    font-family: 'TBC';
    src: url('../font/TBCContracticaCAPS-Medium.ttf') format('truetype');
    font-display: swap;
}


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: "SF Pro Text", "SF Pro Icons", "AOS Icons", "Helvetica Neue", Helvetica, Arial, sans-serif, system-ui;
    background: hsl(0 0% 0%);
    gap: 2rem;
    height: 4200px;
    overflow-x: hidden;
}

body::before {
    --line: hsl(0 0% 95% / 0.25);
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    background:
        linear-gradient(90deg, var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin,
        linear-gradient(var(--line) 1px, transparent 1px 10vmin) 0 -5vmin / 10vmin 10vmin;
    mask: linear-gradient(-15deg, transparent 30%, white);
    top: 0;
    z-index: -1;
}

section {
    display: grid;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


.code {
    font-size: 3rem;
    display: flex;
    flex-wrap: nowrap;
    color: hsl(0 0% 100%);
    border-radius: 1rem;
    background: hsl(0 0% 6%);
    justify-content: center;
    box-shadow: 0 1px hsl(0 0% 100% / 0.25) inset;
}

.code:hover {
    cursor: grab;
}

.digit {
    display: flex;
    height: 100%;
    padding: 5.5rem 1rem;
}

.digit:focus-visible {
    outline-color: hsl(0 0% 50% / 0.25);
    outline-offset: 1rem;
}

.digit span {
    scale: calc(var(--active, 0) + 0.5);
    filter: blur(calc((1 - var(--active, 0)) * 1rem));
    transition: scale calc(((1 - var(--active, 0)) + 0.2) * 1s), filter calc(((1 - var(--active, 0)) + 0.2) * 1s);
}


.digit:first-of-type {
    padding-left: 5rem;
}

.digit:last-of-type {
    padding-right: 5rem;
}

:root {
    --lerp-0: 1;
    /* === sin(90deg) */
    --lerp-1: calc(sin(50deg));
    --lerp-2: calc(sin(45deg));
    --lerp-3: calc(sin(35deg));
    --lerp-4: calc(sin(25deg));
    --lerp-5: calc(sin(15deg));
}

.digit:is(:hover, :focus-visible) {
    --active: var(--lerp-0);
}

.digit:is(:hover, :focus-visible)+.digit,
.digit:has(+ .digit:is(:hover, :focus-visible)) {
    --active: var(--lerp-1);
}

.digit:is(:hover, :focus-visible)+.digit+.digit,
.digit:has(+ .digit + .digit:is(:hover, :focus-visible)) {
    --active: var(--lerp-2);
}

.digit:is(:hover, :focus-visible)+.digit+.digit+.digit,
.digit:has(+ .digit + .digit + .digit:is(:hover, :focus-visible)) {
    --active: var(--lerp-3);
}

.digit:is(:hover, :focus-visible)+.digit+.digit+.digit+.digit,
.digit:has(+ .digit + .digit + .digit + .digit:is(:hover, :focus-visible)) {
    --active: var(--lerp-4);
}

.digit:is(:hover, :focus-visible)+.digit+.digit+.digit+.digit+.digit,
.digit:has(+ .digit + .digit + .digit + .digit + .digit:is(:hover, :focus-visible)) {
    --active: var(--lerp-5);
}

.things {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 80vw;
    gap: 240px;
    font: bold 1.5rem sans-serif;
    text-transform: uppercase;
    justify-content: center;
    color: grey;
}

.things section{
    background-color: rgba(87, 87, 87, 0.259);
    padding: 20px;
    border-radius: 20px;
    filter: blur(5px);
    transition: all 1s;
}

.things section:hover{
    filter: blur(0px);
}

.things section h3{
    text-align: center;
}



.things-container {
    color: rgb(191, 192, 192);
    text-align:start;
    font-size: xx-large;
    
}

section p {
    width: 535px;
    font-size: 23px;
    text-align: center;
}


section{
    display: grid;
    justify-items: center;
}

hr{
    width: 500px;
}

.buttons{
    display: flex;
    gap: 30px;
}

section button{
    padding: 8px 10px;
    background-color: #292929a2;
    border: 1px solid white;
    color: white;
    border-radius: 3px;
}

main {
    display: grid;
    justify-items: center;
    align-items: center;
    margin-top: 350px;
    gap: 450px;
}


/* Lazy Load Styles */
.card-image {
    display: block;
    min-height: 20rem;
    /* layout hack */
    background: #fff center center no-repeat;
    background-size: cover;
    filter: blur(3px);
    /* blur the lowres image */
    transition: all 1s;
}

.card-image:hover {
    filter: none;
    /* remove the blur on hover */
}

.card-image>img {
    display: block;
    width: 100%;
    opacity: 0;
    /* visually hide the img element */
}

.card-image.is-loaded {
    filter: none;
    /* remove the blur on fullres image */
    transition: filter 1s;
}


.card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.card {
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
    transition: transform 0.45s ease-in-out, box-shadow 0.1s;
    position: relative;
    /* Ensures the pseudo-element positions correctly */
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark overlay */
    transition: background-color 1s ease-in-out;
    pointer-events: none;
    /* Ensures it doesn't interfere with mouse events */
    z-index: 1;
    /* Ensures it appears above the card content */
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card:hover::before {
    background-color: transparent;
    /* Remove dark overlay on hover */
}


.card-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
}

.card-description>h2 {
    margin: 0 0 0.5em;
}

.card-description>p {
    margin: 0;
}

.things-div {
    width: 900px;
    
    height: 0;
    opacity: 0;
    background-color: rgba(26, 26, 26, 0.5);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 150px;
    overflow: hidden;
    transition: height 0.5s ease, opacity 0.5s ease;
}

.things-container {
    display: grid;
    justify-items: center;
}


.things-div h2 {
    font-family: TBC;
    font-size: larger;
    margin-top: 60px;
}

#move {
    border: 2px solid white; /* Visible border */
    background-color: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
    height: 50px; /* Size of the circle */
    width: 50px; /* Size of the circle */
    border-radius: 50%; /* Make it circular */
    position: fixed; /* Fixed position */
    pointer-events: none; /* Allows mouse events to pass through */
    transition: left 0.1s ease, top 0.1s ease; /* Smooth transition */
    transform: translate(-50%, -50%); /* Center the circle on the curso r */
    z-index: 1000; /* Ensure it stays above other elements */
}

.finder{
    display: grid;
    justify-items: center;
    font-family: TBC;
}

.servicefutures{
    width: 500px;
}

.servicefutures ul{
    gap: 20px;
    display: grid;
}

.servicefutures ul p{
    font-family: TBC;
    font-size: 25px;
}

.pay{
    padding: 10px 20px;
    background-color: #292929;
    color: white;
    border-radius: 5px;
    font-family: TBC;
    border: 1px solid white;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    font-family: TBC;
    width: 100vw;
}

header nav{
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}

nav a {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(225, 225, 225);
    transition: all 0.2s;
    background-color: rgb(0, 0, 0);
}


nav span{
    padding: 10px;
    text-align: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    border: 2px solid rgb(225, 225, 225);
    background-color: rgb(0, 0, 0);
}


.icon {
    background-color: rgba(94, 0, 194, 0.487);
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 50%;
    z-index: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8000ffd4;
    font-family: auto;
    FONT-WEIGHT: 900;
    font-size: xx-large;
    bottom: 50px;
    cursor: pointer;
    right: 50px;
    transition: all 1s;
    filter: drop-shadow(2px 1px 25px);
}

.icon:hover{
    background-color: rgb(123, 0, 255);

}

.icon a{
    color: rgba(255, 255, 255, 0.631);
    font-family: TBC;
    margin-top: 10px;
    transition: all 1s;
}

.icon a:HOVER{
    color: rgb(255, 255, 255);

}

@media screen and (max-width: 920px) {
    .servicefutures {
        width: 418px;
    }
    .things-div{
        width: 612px;
    }

    #move{
        display: none;
    }
    
}

@media screen and (max-width: 830px) {
    .code{
        font-size: 2rem;
    }

    
}

@media screen and (max-width: 768px) {
    .code{
        font-size: 2rem;
    }


}

    
@media screen and (max-width: 666px) {

    .things {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
        font: bold 1.5rem sans-serif;
        text-transform: uppercase;
        color: grey;
        gap: 10px;
    }

    .things-div {
        width: 511px;
        margin-right: 49px;
    }
    .digit {
        display: flex;
        height: 100%;
        padding: 5.5rem 0.5rem;
    }

}
    
@media screen and (max-width: 600px) {
    .things-div {
        width: 511px;
        margin-right: -7px;
    }
}

    
@media screen and (max-width: 540px) {
    .things-div {
        width: 483px;
        margin-right: 0px;
    }

}


.download-section p{
    color: white;
    text-align: center;
    font-size: larger;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

.download-section h2{
    color: white;
    text-align: center;
}

.download-section{
    background-color: rgb(224 224 224 / 16%);
        width: 800px;
    gap: 20px;
    display: grid;
    justify-items: center;
    padding: 60px;
    border-radius: 10px;

}

footer{
    display: grid;
    justify-content: center;
    margin-top: 200px;
}

.download-section a{
    padding: 19px;
    background: black;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    transition: all 0.7s;
}

.download-section a:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}